* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ff-primary: Arial, Helvetica, sans-serif;
    --primary-color:#ffffff;
    --secondary-color: #686de0;
    --third--color:#ffbe76;
}
/* BODY */
body {
    background-color:var(--primary-color);
    font-family: var(--ff-primary);
    line-height: 1;
    color: var(--secondary-color);
}
p {
    font-family: var(--ff-primary);
    font-size: 3vw;
    line-height: 1.5;
}
a {
    line-height: 1.5;
}

/* HEADER BEGINS */
header {
    padding: 20px 20px;
    background-color:var(--third--color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
}
header h1 {
    font-weight: bold;
    font-size: 4vw;
    margin: 0;
}
.subheader {
    padding:80px;
    background-image: url("./images/laptop-unsplash.jpg");
    background-size: cover;
    background-position:50%;
    position: sticky;
}
div h2 {
    font-weight: lighter;
    font-size: 3vw;
    padding-top: 20px;
    float: right;
}
header a {
    text-decoration: none;
}
header nav {
    margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 10px;
    color: var(--secondary-color);
    font-size: 3vw;
}
header nav ul li a:hover {
    color: var(--primary-color);
}
/* HEADER ENDS */

section {
    padding: 50px;
}
.section-title {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    background-color:var(--third--color);
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}

/* ABOUT ME BEGINS */
.intro {
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.intro-section-title {
    font-size: 5vw;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.intro-par {
    width: 50%;
    padding: 10px;
    font-size: 3vw;
    text-align: center;
}
.intro-image {
    padding: 10px;
    max-width: 100%;
    height: auto;
    
}
/* ABOUT ME ENDS */

/* WORK BEGINS */
.work {
    padding: 10px;
    margin: 10px;
    border: 5px solid var(--secondary-color);
    text-align: center;
    background-color: var(--third--color);
    line-height: 1.5;
}
.projects {
    text-align: center;
    font-size: 3vw;
    font-weight:bold;
}
.projects-column {
    padding: 20px;
    columns: 10px 2;
    width: 100%;
}
/* WORK ENDS */

/* CONTACT BEGINS */
.contact {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 2vw;
}
.contact-list {
    list-style: none;
}
.contact a {
    font-size: 2vw;
}
/*CONTACT ENDS*/

/*FOOTER BEGINS */
footer { 
    display: flex;
    flex-wrap: wrap;
    background-color: var(--third--color);
    padding: 20px 10px;
    width: 100%;
}
.footer p {
    text-align: center;
    font-size: 20px;
}
/* FOOTER ENDS*/
@media (hover: hover) {
    img:hover{
        opacity: 50%;
    }
}
footer p {
    text-align: center;
    width: 100%;
}